* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("Data/backgroundlog-sin.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 31.25em;
  background-color: rgba(181, 174, 174, 0.8);
  padding: 1.4em 3.75em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.7em;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.2), 0 1em 4em rgba(0, 0, 0, 0.2), 0 1em 4em rgba(0, 0, 0, 0.2), 0 1em 4em rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

input,
#submit {
  border: none;
  outline: none;
  display: block;
}

input {
  width: 100%;
  background-color: transparent;
  margin-bottom: 2em;
  font-size: 20px;
  padding: 1em 0 0.5em 0.5em;
  border-bottom: 2px solid #202020;
}

#submit {
  position: relative;
  left: 0;
  font-size: 1.1em;
  width: 7em;
  background-color: #0a103c;
  color: white;
  padding: 0.8em 0;
  margin-top: 2em;
  border-radius: 0.3em;
  cursor: pointer;
}

.required-color {
  color: #ff4747;
}

input {
  padding: 1em 0.5em;
  border: 1.5px solid #d0d0d0;
  background-color: #ffffff;
  display: block;
  outline: none;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
}

#message-ref {
  font-size: 0.9em;
  margin-top: 1.5em;
  color: #34bd34;
  visibility: hidden;
}
